:root {
  --primary: #213448;     
  --secondary: #547792;   
  --accent: #fbd472;      /* Teal Green */
  --highlight: #c8e5ef;   /* Golden Amber */
  --background-dark: #ECEFCA;  /* Deep Navy */
  --background-light: #fdffe7;
  --surface: #1E293B;     /* Card/Panel Dark Blue */
  --text-dark: #213448;   /* Light Gray for dark BG */
  --text-light: #FFFFFF;  /* Pure White */
  
}
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/* Global reset */
body {
    background: var(--background-light);
    color: var(--text-dark);
}

.top-bar {
    background: var(--primary);
    color: var(--text-light);
    padding: 15px 30px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top-bar span {
  flex: 1;  
  font-size: 30px;              /* pushes the title to center-left */
}

.container{
    width: 50%;
    height: 650px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    background: var(--background-dark);
    color: var(--secondary);
    text-align: center;
}
.container h1{
    color: var(--surface);
    text-align: center;
    padding: 10px;
}

/* Footer */
.footer {
    background: var(--primary);
    color: var(--text-light);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer h2,
.footer h3 {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    color: var(--background);
    text-decoration: none;
}

.footer-right p {
    margin-bottom: 5px;
}