body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}


/* Back link */
.back-link {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.alert {
    background: #ffe5e5;
    border: 1px solid #ff4d4d;
    padding: 10px;
    border-radius: 1px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: #a60000;
    font-weight: bold;
}

.sos-wrapper {
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    animation: blink 1.5s infinite;
}

.sos-button {
    width: 200px;
    height: 200px;
    background: #ff4d4d;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

@keyframes blink {

    0%,
    100% {
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.4);
    }
}

textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.location {
    margin: 15px 0;
    color: #555;
}

.reminders {
    background: #e9f9e9;
    border: 1px solid #88cc88;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
}